<h1>Thanks for making a pledge to our super kickziblegogostarter project!</h1>

<%- if flash[:warning] %>
  <p class="error"><strong><%= flash[:warning] %></strong></p>
<%- end %>

<%= form_tag donation_path do %>
  <div id="checkout"></div>
  <button type="submit">Donate!</button>
<%- end %>


<script>
  braintree.setup("<%= j(@client_token) %>", "dropin", {
    container: "checkout"
  });
</script>